@charset "UTF-8";
#wrap{width:100%; margin:0 auto;}
img{display:block; max-width:100%; height:auto;}

/* 제목 */
.titleBox{text-align: center;}
.titleBox .title{display: inline-block; margin-bottom: 7px; padding: 10px; font-size: 30px; color: #fff; border: 1px solid #fff; border-width: 1px 0;}
.titleBox .text01{font-size: 60px; color: #efcd05; font-family: 'Cafe24Shiningstar';}
.titleBox .text02{font-size: 20px; color: #fff; font-weight: 700; line-height: 1.3;}
.titBox{text-align: center;}
.titBox .tit{padding: 0 20px; position: relative; display: inline-flex; align-items: flex-end;  gap: 0 10px; justify-content: center; padding-bottom: 20px; margin-bottom:50px; font-size: 24px; font-weight: 700; color: #000; text-align: center;  letter-spacing: -2px;}
.titBox .tit::before{content: ''; height: 16px; position: absolute; left:0; bottom: 4px; right:0; background: url(../images/line.png) no-repeat bottom center;}
.titBox .tit span{position: relative; margin-top: -5px; padding: 0 10px; font-size: 55px; font-family: 'Cafe24Shiningstar'; line-height: 1; z-index: 1; font-weight: 400;}
.titBox .tit span::after{content: '';  position: absolute; top:7px; left:0; right:0; bottom: 7px; background-color: #b5f951; z-index: -1;}

@media (max-width: 1199px){


  .titleBox .title{ margin-bottom: 0.58vw; padding: 0.83vw; font-size: 2.50vw;  border: 0.08vw solid #fff; border-width: 0.08vw 0;}
  .titleBox .text01{font-size: 5.00vw;  }
  .titleBox .text02{font-size: 1.67vw;   line-height: 1.3;}
  .titBox .tit{padding: 0 1.67vw;   align-items: flex-end;  gap: 0 0.83vw; padding-bottom: 1.67vw; margin-bottom:4.17vw; font-size: 2.00vw; letter-spacing: -0.17vw;}
  .titBox .tit::before{ height: 1.33vw;  left:0; bottom: 0.33vw; right:0; background: url(../images/line.png) no-repeat bottom center;}
  .titBox .tit span{ margin-top: -0.42vw; padding: 0 0.83vw; font-size: 4.59vw;  line-height: 1;  }
  .titBox .tit span::after{   top:0.58vw; left:0; right:0; bottom: 0.58vw;  }

}

@media (max-width: 767px){

  .titleBox .title{font-size: 4.5vw;}
  .titleBox .text01{font-size: 7vw;}
  .titleBox .text02{font-size: 2.5vw;}

  .titBox .tit{font-size: 3.2vw;}
  .titBox .tit span{font-size: 6vw;}

}

/* 가운데영역 */
.container{max-width: 1000px; margin: 0 auto;}

/* 영역1 */


/* 영역2 */
#section02{position: relative; padding: 145px 0 0;  height: 1261px; background: url(../images/bg03.jpg)no-repeat center / cover;}
#section02 .titleBox{margin-bottom: 30px;}
#section02 .box01{margin-bottom: 30px;}
#section02 .bg{position: absolute; top:0; left:0; right:0; bottom: 0; z-index: -1;}
#section02 .titleBox{margin-bottom: 30px;}
#section02 .list{padding: 0 118px; margin-bottom: 50px;}
#section02 .list li{display: flex; height: 89px; margin-bottom: 11px; box-shadow: 0 10px 4px rgba(0, 0, 0, .7);}
#section02 .list li:last-child{margin-bottom: 0;}
#section02 .list li span{width: 97px; height: 89px; line-height: 85px; font-size: 55px; color: #ffe400; background-color: #000; text-align: center; font-weight: 900;}
#section02 .list li p{position: relative; padding: 20px 10px 20px 109px; width: 100%; font-size: 32px; color: #000; font-weight: 900; background-color: #fff!important; letter-spacing: -1px;}
#section02 .list li:nth-child(odd) p{background-color: #ffe400!important;}
#section02 .text{font-weight: 700; color: #fff; font-size: 30px; text-align: center;}
#section02 .text span{font-family: 'Cafe24Shiningstar'; font-size: 80px; font-weight: 400;}
#section02 .text span strong{color: #efcd05; font-weight: 400;}
#section02 .list li p::before{content: ''; position: absolute; top:50%; transform: translateY(-50%); left:26px;}
#section02 .list li:nth-child(1) p::before{width: 59px; height: 38px; background: url(../images/list_icon01.png) no-repeat center / contain;}
#section02 .list li:nth-child(2) p::before{width: 50px; height: 50px; background: url(../images/list_icon02.png) no-repeat center / contain;}
#section02 .list li:nth-child(3) p::before{width: 42px; height: 50px; background: url(../images/list_icon03.png) no-repeat center / contain;}
#section02 .list li:nth-child(4) p::before{width: 54px; height: 55px; background: url(../images/list_icon04.png) no-repeat center / contain;}
#section02 .list li:nth-child(5) p::before{width: 60px; height: 51px; background: url(../images/list_icon05.png) no-repeat center / contain;}
#section02 .list li:nth-child(6) p::before{width: 50px; height: 50px; background: url(../images/list_icon06.png) no-repeat center / contain;}

@media (max-width: 1199px){

  #section02{ padding: 12.09vw 0 0;  height: 105.17vw; background: url(../images/bg03.jpg)no-repeat center / cover;}
  #section02 .titleBox{margin-bottom: 2.50vw;}
  #section02 .box01{margin-bottom: 2.50vw;}
  #section02 .bg{ top:0; left:0; right:0; bottom: 0; }
  #section02 .titleBox{margin-bottom: 2.50vw;}
  #section02 .list{padding: 0 9.84vw; margin-bottom: 4.17vw;}
  #section02 .list li{ height: 7.42vw; margin-bottom: 0.92vw; box-shadow: 0 0.83vw 0.33vw rgba(0, 0, 0, .7);}
  #section02 .list li:last-child{margin-bottom: 0;}
  #section02 .list li span{width: 8.09vw; height: 7.42vw; line-height: 7.09vw; font-size: 4.59vw;    }
  #section02 .list li p{ padding: 1.67vw 0.83vw 1.67vw 9.09vw; width: 100%; font-size: 2.67vw;   background-color: #fff!important; letter-spacing: -0.08vw;}
  #section02 .list li:nth-child(odd) p{background-color: #ffe400!important;}
  #section02 .text{  font-size: 2.50vw; }
  #section02 .text span{ font-size: 6.67vw; }
  #section02 .list li p::before{  top:50%; transform: translateY(-50%); left:2.17vw;}
  #section02 .list li:nth-child(1) p::before{width: 4.92vw; height: 3.17vw; background: url(../images/list_icon01.png) no-repeat center / contain;}
  #section02 .list li:nth-child(2) p::before{width: 4.17vw; height: 4.17vw; background: url(../images/list_icon02.png) no-repeat center / contain;}
  #section02 .list li:nth-child(3) p::before{width: 3.50vw; height: 4.17vw; background: url(../images/list_icon03.png) no-repeat center / contain;}
  #section02 .list li:nth-child(4) p::before{width: 4.50vw; height: 4.59vw; background: url(../images/list_icon04.png) no-repeat center / contain;}
  #section02 .list li:nth-child(5) p::before{width: 5.00vw; height: 4.25vw; background: url(../images/list_icon05.png) no-repeat center / contain;}
  #section02 .list li:nth-child(6) p::before{width: 4.17vw; height: 4.17vw; background: url(../images/list_icon06.png) no-repeat center / contain;}

}

@media (max-width: 767px){

  #section02{height: 110vw;}
  #section02 .list li p{font-size: 3vw;}
  #section02 .text{font-size: 3.5vw;}

}

/* 영역3 */
#section03{height: 1700px;}
#section03 .topBox{height: 812px; background: url(../images/bg04.jpg)no-repeat top center / cover;}
#section03 .topBox .titleBox{padding: 75px 0 36px; position: relative; z-index: 1;}
#section03 .topBox .titleBox .text01{margin-bottom: 0; line-height: 1.2;}
#section03 .topBox .titleBox::after{content: ''; position: absolute; top:0; left:0; right:0; bottom: 0; background-color: rgba(143, 70, 71, 0.95); z-index: -1;}
#section03 .listBox .list{padding: 70px 118px 100px;}
#section03 .listBox .list li{display: flex; align-items: center; gap: 0 30px; margin-bottom: 33px;}
#section03 .listBox .list li .iconBox{ width: 118px; height: 118px; flex-shrink: 0;}
#section03 .listBox .list li:last-child{margin-bottom: 0 ;}
#section03 .listBox .list li .textBox h3{margin-bottom: 8px; font-size: 26px; color: #ad322f; letter-spacing: -1px;}
#section03 .listBox .list li .textBox p{font-weight: 700; color: #646464; line-height: 1.3; font-size: 16px; letter-spacing: -1px;}
#section03 .listBox .list li .textBox p br{display: none; word-break: keep-all;}

@media (max-width: 1199px){

  #section03{height: 141.78vw;}
  #section03 .topBox{height: 67.72vw; background: url(../images/bg04.jpg)no-repeat top center / cover;}
  #section03 .topBox .titleBox{padding: 6.26vw 0 3.00vw;  }
  #section03 .topBox .titleBox .text01{margin-bottom: 0; line-height: 1.2;}
  #section03 .topBox .titleBox::after{  top:0; left:0; right:0; bottom: 0; background-color: rgba(143, 70, 71, 0.95); }
  #section03 .listBox .list{padding: 5.84vw 9.84vw 8.34vw;}
  #section03 .listBox .list li{ align-items: center; gap: 0 2.50vw; margin-bottom: 2.75vw;}
  #section03 .listBox .list li .iconBox{ width: 9.84vw; height: 9.84vw; flex-shrink: 0;}
  #section03 .listBox .list li:last-child{margin-bottom: 0 ;}
  #section03 .listBox .list li .textBox h3{margin-bottom: 0.67vw; font-size: 2.17vw;  letter-spacing: -0.08vw;}
  #section03 .listBox .list li .textBox p{  line-height: 1.3; font-size: 1.33vw; letter-spacing: -0.08vw;}
  #section03 .listBox .list li .textBox p br{ word-break: keep-all;}

}

@media (max-width: 767px){

  #section03{height: 156vw;}
  #section03 .topBox .titleBox .text02{font-size: 2vw;}
  #section03 .topBox .titleBox .title{font-size: 3vw;}
  #section03 .topBox .titleBox .text01{font-size: 5vw;}
  #section03 .topBox{height: 70vw;}
  #section03 .listBox .list li .textBox h3{font-size: 2.5vw;}
  #section03 .listBox .list li .textBox p{font-size: 2vw;}
  #section03 .listBox .list li .textBox p br{display: none;}

}

/* 영역4 */
#section04{padding: 90px 0; background-color: #87de20;}
#section04 .titleBox{margin-bottom: 50px;}
#section04 .titleBox .text01{color: #000;}
#section04 .listBox .list{padding: 0 118px;}
#section04 .listBox .list li{margin-bottom: 50px;}
#section04 .listBox .list li:last-child{margin-bottom: 0;}

@media (max-width: 1199px){

  #section04{padding: 7.51vw 0; }
  #section04 .titleBox{margin-bottom: 4.17vw;}
  #section04 .listBox .list{padding: 0 9.84vw;}
  #section04 .listBox .list li{margin-bottom: 4.17vw;}
  #section04 .listBox .list li:last-child{margin-bottom: 0;}

}

/* 영역5 */
#section05 .topBox{padding: 90px 0 55px; background-color: #f1f1e4;}
#section05 .titleBox .title{color: #000; border-color: #000;}
#section05 .titleBox .text01{margin-bottom:20px; color: #ff5400;}
#section05 .titleBox .text02{font-size: 48px; color: #000; letter-spacing: -1px;}
#section05 .titleBox .text02 span{color: #5fc730;}
#section05 .listBox{padding: 70px 0 100px; background-color: #fff;}
#section05 .listBox .box{margin-bottom: 100px; padding: 0 118px;}
#section05 .listBox .box:last-child{margin-bottom: 0;}
#section05 .listBox .box .imgBox{margin-bottom: 40px;}
#section05 .listBox .box .text01{margin-bottom: 20px; font-weight: 500; font-size: 24px; color: #000; line-height: 1.2; letter-spacing: -1px;}
#section05 .listBox .box .text02{font-weight: 900; font-size: 32px; color: #000; line-height: 1.2; letter-spacing: -1px;}
#section05 .listBox .box .text02 span{color: #40c100;}

@media(max-width: 1199px){

  #section05 .topBox{padding: 7.51vw 0 4.59vw; }
  #section05 .titleBox .text01{margin-bottom:1.67vw; }
  #section05 .titleBox .text02{font-size: 4.00vw;  letter-spacing: -0.08vw;}
  #section05 .listBox{padding: 5.84vw 0 8.34vw; }
  #section05 .listBox .box{margin-bottom: 8.34vw; padding: 0 9.84vw;}
  #section05 .listBox .box:last-child{margin-bottom: 0;}
  #section05 .listBox .box .imgBox{margin-bottom: 3.34vw;}
  #section05 .listBox .box .text01{margin-bottom: 1.67vw;  font-size: 2.00vw;  line-height: 1.2; letter-spacing: -0.08vw;}
  #section05 .listBox .box .text02{ font-size: 2.67vw;  line-height: 1.2; letter-spacing: -0.08vw;}

}

@media (max-width: 767px){

  #section05 .listBox .box .text01{font-size:  2.5vw;}
  #section05 .listBox .box .text01 br{display: none;}
  #section05 .listBox .box .text02{font-size: 3vw;}

}

/* 영역6 */
#section06{padding: 95px 0 50px; background-color: #363ac9;}
#section06 .text02{margin-bottom: 65px;}
#section06 .text01{color: #eaff00;}
#section06 .box{margin-bottom: 50px;}
#section06 .box:last-child{margin-bottom: 0;}
#section06 .titBox .tit{margin-bottom: 20px; color: #fff;}
#section06 .titBox .tit span{position: relative; color: #000;}
#section06 .titBox .tit span::before{content: ''; width: 42px; height: 37px; position: absolute; top:-20px; left:-31px; background: url(../images/icon11.png)no-repeat center / contain;}

@media (max-width: 1199px){

  #section06{padding: 7.92vw 0 4.17vw; }
  #section06 .text02{margin-bottom: 5.42vw;}
  #section06 .box{margin-bottom: 4.17vw;}
  #section06 .box:last-child{margin-bottom: 0;}
  #section06 .titBox .tit{margin-bottom: 1.67vw; }
  #section06 .titBox .tit span::before{ width: 3.50vw; height: 3.09vw;  top:-1.67vw; left:-2.59vw; background: url(../images/icon11.png)no-repeat center / contain;}

}

/* 영역7 */
#section07{padding: 55px 0; background-color: #3d00ae;}
#section07 .imgBox{padding: 0 20px;}

@media (max-width: 1199px){

  #section07{padding: 4.59vw 0; }
  #section07 .imgBox{padding: 0 1.67vw;}

}

/* 영역8 */
#section08{padding: 55px 0 0; background-color: #fff;}
#section08 .title{color: #000; border-color: #000;}
#section08 .text01{margin-bottom: 25px; color: #ff5400;}
#section08 .text02{color: #000; font-size: 30px;}
#section08 .text02 span{color: #12d61b;}
#section08 .carBox .box{padding: 70px 0;}
#section08 .carBox .box:nth-child(even){background-color: #f2f1e4;}

@media (max-width: 1199px){

  #section08{padding: 4.59vw 0 0; }
  #section08 .text01{margin-bottom: 2.09vw; }
  #section08 .text02{ font-size: 2.50vw;}
  #section08 .carBox .box{padding: 5.84vw 0;}

}

/* 영역9 */
#section09{padding: 90px 0; background-color: #fff;}
#section09 .titleBox{margin-bottom: 35px;}
#section09 .title{color: #000; border-color: #000;}
#section09 .text01{color: #ff5400;}
#section09 .introduceBox .text02{margin-bottom: 30px; font-size: 30px; font-weight: 700; color: #000; text-align: center; letter-spacing: -1px; line-height: 1.2;}
#section09 .introduceBox .text02 span{color: #33c400;}
#section09 .introduceBox .imgBox{padding: 0 118px; margin-bottom: 40px;}
#section09 .introduceBox .imgBox img{width: auto; margin: 0 auto;}
#section09 .introduceBox .text03{margin-bottom: 50px; text-align: center; color: #000; font-weight: 500; font-size: 24px; letter-spacing: -1px;}
#section09 .introduceBox .text04{margin-bottom: 40px; font-size: 36px; font-weight: 900; color: #000; text-align: center; line-height: 1.2;}
#section09 .introduceBox .text04 span{color: #4bc700;}
#section09 .text05{font-size: 72px; color: #45b700; font-family: 'Cafe24Shiningstar'; text-align: center;}
#section09 .text05 span{position: relative;}
#section09 .text05 span::after{width: 164px; height: 116px; content: ''; position: absolute; top: 50%; transform: translate(-50%, -50%); left:50%; background: url(../images/img07.png)no-repeat center;}

@media (max-width: 1199px){

  #section09{padding: 7.51vw 0; }
  #section09 .titleBox{margin-bottom: 2.92vw;}
  #section09 .introduceBox .text02{margin-bottom: 2.50vw; font-size: 2.50vw;    letter-spacing: -0.08vw; line-height: 1.2;}
  #section09 .introduceBox .imgBox{padding: 0 9.84vw; margin-bottom: 3.34vw;}
  #section09 .introduceBox .imgBox img{width: auto; margin: 0 auto;}
  #section09 .introduceBox .text03{margin-bottom: 4.17vw;    font-size: 2.00vw; letter-spacing: -0.08vw;}
  #section09 .introduceBox .text04{margin-bottom: 3.34vw; font-size: 3.00vw;    line-height: 1.2;}
  #section09 .text05{font-size: 6.01vw;}
  #section09 .text05 span::after{width: 13.68vw; height: 9.67vw;   top: 50%; transform: translate(-50%, -50%); left:50%; background: url(../images/img07.png)no-repeat center;}

}

@media (max-width: 767px){

  #section09 .introduceBox .text02{font-size: 3vw;}
  #section09 .introduceBox .text03{font-size: 2.5vw;}

}

/* 영역10 */
#section10{padding: 80px 0; background: url(../images/bg01.jpg)no-repeat center; background-size: cover;}
#section10 .counselBox{padding: 0 12px 0 46px;}
#section10 .layoutBox{display: flex; gap: 0 20px;}
#section10 .textBox{flex-shrink: 0;}
#section10 .textBox h3{margin-bottom: 11px; font-size: 30px; color: #fff; line-height: 1;}
#section10 .textBox p{font-size: 18px; font-weight: 700; color: #fff; letter-spacing: -1px; line-height: 1.2;}
#section10 .textBox p span{color: #fff600;}
#section10 .phoneBox{margin: 13px 0; padding: 13px 0 13px 8px; border: 1px solid #fff; border-width: 1px 0; line-height: 1.3;}
#section10 .phoneBox span{display: block; font-size: 18px; color: #fff;}
#section10 .phoneBox em{display: block; font-weight: 700; font-size: 30px; color: #d8ff00;}
#section10 .infoBox dl{padding-left: 6px; display: flex; align-items: center; line-height: 1.3;}
#section10 .infoBox dl dt{width: 80px;}
#section10 .infoBox dl dt,
#section10 .infoBox dl dd{font-weight: 500; color: #fff; font-size: 16px;}
#section10 .formBox{width: 100%;}
#section10 .formBox .inputBox{width: 100%;}
#section10 .formBox .layoutBox{display: flex; margin-bottom: 20px; gap: 0 15px;}
#section10 .counselBtn{margin-top: 20px; display: block; width: 100%; height: 78px; background-color: #fff600; text-align: center; font-size: 30px; color: #000; font-weight: 900;
border: 1px solid #747273;}
#section10 .counselBtn span{color: #299d00;}

@media (max-width: 1199px){

  #section10{padding: 6.67vw 0; background: url(../images/bg01.jpg)no-repeat center; }
  #section10 .counselBox{padding: 0 1.00vw 0 3.84vw;}
  #section10 .layoutBox{ gap: 0 1.67vw;}
  #section10 .textBox{flex-shrink: 0;}
  #section10 .textBox h3{margin-bottom: 0.92vw; font-size: 2.50vw;  line-height: 1;}
  #section10 .textBox p{font-size: 1.50vw;   letter-spacing: -0.08vw; line-height: 1.2;}
  #section10 .phoneBox{margin: 1.08vw 0; padding: 1.08vw 0 1.08vw 0.67vw; border: 0.08vw solid #fff; border-width: 0.08vw 0; line-height: 1.3;}
  #section10 .phoneBox span{ font-size: 1.50vw; }
  #section10 .phoneBox em{  font-size: 2.50vw; }
  #section10 .infoBox dl{padding-left: 0.50vw;  align-items: center; line-height: 1.3;}
  #section10 .infoBox dl dt{width: 6.67vw;}
  #section10 .infoBox dl dt,
  #section10 .infoBox dl dd{  font-size: 1.33vw;}
  #section10 .formBox{width: 100%;}
  #section10 .formBox .inputBox{width: 100%;}
  #section10 .formBox .layoutBox{ margin-bottom: 1.67vw; gap: 0 1.25vw;}
  #section10 .counselBtn{margin-top: 1.67vw;  width: 100%; height: 6.51vw;   font-size: 2.50vw;  
  border: 0.08vw solid #747273;}


}

@media (max-width: 767px){

  #section10 .textBox h3{font-size: 3.3vw;}
  #section10 .textBox p{font-size: 2.5vw;}
  #section10 .phoneBox span{font-size: 2vw;}
  #section10 .infoBox dl dt{width: 10vw; flex-shrink: 0;}
  #section10 .infoBox dl dt, #section10 .infoBox dl dd{font-size: 2vw;}

}

/* 폼 */
input{width: 100%; padding:0 20px 0 48px; height: 55px; background-color: #fff; border: 1px solid #e8e8e8; font-size: 14px; color: #738192;}
input::placeholder{color: #738192;}
textarea{width: 100%; padding:16px 20px 20px 48px; height: 127px; background-color: #fff; border: 1px solid #e8e8e8; font-size: 14px; color: #738192;}
textarea::placeholder{color: #738192;}
input#name{background: #fff url(../images/icon01.png)no-repeat 18px center / contain; background-size: 14px 18px;}
input#phone{background: #fff url(../images/icon02.png)no-repeat 18px center / contain; background-size: 19px 20px;}
input#email{background: #fff url(../images/icon03.png)no-repeat 18px center / contain; background-size: 20px 16px;}
input#model{background: #fff url(../images/icon04.png)no-repeat 18px center / contain; background-size: 20px 12px;}
textarea#content{background: #fff url(../images/icon05.png)no-repeat 18px 18px  /contain; background-size: 18px 19px;}

@media (max-width: 1199px){

  input{width: 100%; padding:0 1.67vw 0 4.00vw; height: 4.59vw;  border: 0.08vw solid #e8e8e8; font-size: 1.17vw; }
  textarea{width: 100%; padding:1.33vw 1.67vw 1.67vw 4.00vw; height: 10.59vw;  border: 0.08vw solid #e8e8e8; font-size: 1.17vw; }
  input#name{background: #fff url(../images/icon01.png)no-repeat 1.50vw center / contain; background-size: 1.17vw 1.50vw;}
  input#phone{background: #fff url(../images/icon02.png)no-repeat 1.50vw center / contain; background-size: 1.58vw 1.67vw;}
  input#email{background: #fff url(../images/icon03.png)no-repeat 1.50vw center / contain; background-size: 1.67vw 1.33vw;}
  input#model{background: #fff url(../images/icon04.png)no-repeat 1.50vw center / contain; background-size: 1.67vw 1.00vw;}
  textarea#content{background: #fff url(../images/icon05.png)no-repeat 1.50vw 1.50vw  /contain; background-size: 1.50vw 1.58vw;}

}

/* 푸터 */
#footerWrap{padding: 26px 0; background-color: #000;}
#footerWrap p{font-size: 12px; font-weight: 300; color: #bebebe; line-height: 1.4;}
#footerWrap .footerBox{padding: 0 20px;}

@media (max-width: 1199px){

  #footerWrap{padding: 2.17vw 0; }
  #footerWrap .footerBox{padding: 0 1.67vw;}
  #footerWrap p{font-size: 1.6vw; line-height: 1.4;}

}